<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Group List Test</title>
    <link href="./assets/css/application.css" rel="stylesheet">
    
    <script id="contacts-pane-template" type="text/template">
      <div id="contacts__wrapper">
        <ul id="contacts__scroller"></ul>
      </div>
    </script>
    
    <script id="contacts-group-template" type="text/template">
      <li>
        <h3 class="contacts__group__first_char">
          <span><%= firstChar %></span>
        </h3>
        <ul class="contacts"></ul>
      </li>
    </script>
    
    <script id="contact-template" type="text/template">
      <span><%= name %></span>
    </script>

  </head>

  <body>
    <div id="main__region">
    </div>

    <script src="./assets/js/bower_components/requirejs/require.js" data-main="./assets/js/main"></script>    
  </body>
</html>
