@import "reset.css";

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%
}


#main__region {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#contacts__wrapper {
  width: 300px;
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
}


#contacts__scroller {
  position: relative;
  /* Enable GPU acceleration */
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.contacts li {
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0 10px;
}

.contacts li:last-child{
  border-bottom: none;
}
.contacts li span{
  display: inline-block;
  line-height: 30px;
}

.contacts__group__first_char {
  height: 20px;
  width: 283px;
  background: #777;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 0 0 0 15px;
}